<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-music"></span> Music
    </h3>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-5">
        <table class="table table-bordered table-condensed">
          <tbody>
          <tr>
            <td>Leader</td>
            <td>{{createdBy}}</td>
          </tr>
          <tr>
            <td>Piano</td>
            <td>Terri McCool</td>
          </tr>
          <tr>
            <td>Electric Guitar 1</td>
            <td>Scott McCool</td>
          </tr>
          <tr>
            <td>Electric Guitar 2</td>
            <td>Shawn McCool</td>
          </tr>
          <tr>
            <td>Acoustic Guitar</td>
            <td>Gregg Bolinger</td>
          </tr>
          <tr>
            <td>Keyboards</td>
            <td>Scott McCool</td>
          </tr>
          <tr>
            <td>Bass</td>
            <td>Tommy ????</td>
          </tr>
          <tr>
            <td>Percussion</td>
            <td>Dan Gaskell</td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-default btn-sm">Edit</button>
        <button class="btn btn-default btn-sm">Finalize</button>
        <button class="btn btn-default btn-sm">Send Emails</button>
        <button class="btn btn-default btn-sm">Print</button>
      </div>
      <div class="col-md-7">
        <table class="table table-bordered table-condensed arrangable">
          <thead>
          <tr>
            <th>Song</th>
            <th>Music</th>
            <th>Media</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody class="sortable">
          <tr>
            <td>Holy Holy Holy</td>
            <td><a href="#">music.pdf</a></td>
            <td><a href="#">youtube link</a></td>
            <td style="text-align: center">
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          <tr>
            <td>Awesome God</td>
            <td><a href="#">music.pdf</a></td>
            <td><a href="#">youtube link</a></td>
            <td style="text-align: center">
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          <tr>
            <td>Famous One</td>
            <td><a href="#">music.pdf</a></td>
            <td><a href="#">youtube link</a></td>
            <td style="text-align: center">
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          <tr>
            <td>God's Not Dead</td>
            <td><a href="#">music.pdf</a></td>
            <td><a href="#">youtube link</a></td>
            <td style="text-align: center">
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          <tr>
            <td>Grace Like Rain</td>
            <td><a href="#">music.pdf</a></td>
            <td><a href="#">youtube link</a></td>
            <td style="text-align: center">
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          <tr>
            <td>Amazing Grace</td>
            <td><a href="#">music.pdf</a></td>
            <td><a href="#">youtube link</a></td>
            <td style="text-align: center">
              <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-default btn-sm pull-right">Add Song</button>
      </div>
    </div>
  </div>
</div>
<!--<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Message
    </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <table class="table table-bordered table-condensed">
          <tbody>
          <tr>
            <td>Pastor</td>
            <td>Bryan Jones</td>
          </tr>
          <tr>
            <td>Message Notes</td>
            <td><a href="#">message_notes.pdf</a></td>
          </tr>
          <tr>
            <td>Slides</td>
            <td><a href="#">slides.ppt</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  '
</div>-->
