<h4>New Song</h4>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>

    <div class="col-sm-6">
      <input type="title" class="form-control" id="title" name="title" placeholder="Title of the song" required>
    </div>
  </div>
</form>